@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ASP.NET_MVC_Project.Models.Category

@{
    ViewBag.Title = "Edit Category";
}

<h2>Edit Category</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.CategoryId)
    
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
    
    <button type="submit" class="btn btn-success">Save</button>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    <script src="/bundles/jqueryval"></script>
}
